body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#form-error > ul {
  margin: 0 auto;
  padding: 0;
}


#form-error > li {
  padding: 5px;
}

a.btn {
  margin-right: 5px;
}

.alert-info {
  position: fixed;
  top:0;
}
